* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: SourceHanSansSC, SourceHanSansSC;
  border: none;
  outline: none;
}
.box,
.box-starts {
  width: 1440px;
  margin: 0 auto;
  /* background-color: yellow; */
  background: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(219, 221, 225, 0.3);
}

.box-starts {
  background-color: #f5f6fd;
}

.box2 {
  width: 1159px;
  margin: 0 auto;
  /* background-color: pink; */
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;

  font-weight: bold;
  color: #21212d;
  line-height: 24px;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 1440px;
  height: 160px;
  background-image: url(/images/mengban.png);
  /* background-color: gray; */
  /* padding: 29px 162px 0px 120px; */
}

.footer-info,
.footer-info-left {
  /* padin */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  margin: 29px 148px 0px 120px;
}

.footer-info p {
  font-size: 12px;

  font-family: SourceHanSansSC, SourceHanSansSC;
  font-weight: 500;
  color: #bfc2cc;
  line-height: 18px;
}

.chat-icon {
  width: 28px;
  height: 28px;
  /* padding: 8px; */
  background: #34344d;
  border-radius: 22px;
  margin-left: 26px;
}

.footer-info-right {
  display: flex;
  flex-direction: row;
  /* justify-self: end; */
  justify-content: space-between;
}

/* .icon-qq::before {
  content: "\e882";
  font-family: "iconfont";
  line-height: 44px;
  font-size: 16px;
  text-align: center;
} */

.icon-QQ,
.icon-weixin,
.icon-weibo {
  text-align: center;
  line-height: 28px;
  color: #bfc2cc;
}

.contactus ul li a {
  font-size: 12px;
  font-family: SourceHanSansSC, SourceHanSansSC;
  font-weight: 400;
  color: #bfc2cc;
  line-height: 18px;
  margin-right: 20px;
}
.beian {
  font-size: 12px;
  font-family: SourceHanSansSC, SourceHanSansSC;
  font-weight: 400;
  color: #5b5b6c;
  line-height: 18px;
}

.contactinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #15152d;
  padding-left: 140px;
  padding-right: 141px;
}
