* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
em,
i {
  font-style: normal;
}
.w {
  width: 1440px;
  margin: 0 auto;
  background-color: bisque;
}

.header {
  width: 100%;
  height: 678px;
  background-color: blueviolet;
}

.header-top {
  height: 80px;
  /* padding: 18px 141px 18px 140px; */
  background-color: pink;
  overflow: hidden;
  /* 加overflow hidden 是为了 解决 塌陷问题 #1 */
}

.header-top-inner {
  position: relative;
  background-color: yellow;
  margin: 18px 141px 18px 140px;
  /* 这样就塌陷了  #1*/
  /* align-items: center; */
}

.logo {
  /* display: inline-block; */
  float: left;
  /* 给logo class加了 float left， 是为了解决问题 #2 */
  width: 140px;
  height: 44px;
  background-image: url(../images/logo.png);
}

.top-inner-nav ul {
  margin-left: 30px;
  height: 44px;
  /* margin-top: 10px;
    margin-bottom: 10px; */
  /* position: absolute; */
  list-style: none;
  font-size: 24px;
}

.top-inner-nav ul li {
}

.top-inner-nav ul li a {
  text-decoration: none;
}

.top-inner-nav {
  float: left;
  /* 如果直接加给这个class，  会占用logo的地方， 把logo 往后挤过去了 解决这个 #2 */
}

.top-inner-nav-right {
  float: right;
  width: 200px;
  height: 44px;
  background-color: turquoise;
}
.search {
  width: 102px;
  height: 40px;
  margin-top: 2px;
  background: #f5f6fa;
  border-radius: 24px;
  border: none;
}
